<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看我的所有评论</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
<div align="center">
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>内容</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody th:each="comment : ${list}">
        <tr>

            <td th:text="${comment.getComment()}"></td>
            <td><a th:href="@{/success/deleteCot(cotid=${comment.cotid})}" th:text="删除"></a></td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>